<nav class="navbar navbar-inverse navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>

      <ul class="navbar-nav navbar-right">
      	<% if (!user) { %>

      	<li><a class="dropdown-toggle" data-toggle="dropdown" href="#">SignUp / Login</a>
      		<ul class="dropdown-menu navbar-dark bg-dark">
      			<li><a href="/signup">SignUp</a></li>
      			<li><a href="/login">Login</a></li>
      		</ul>
      	</li>

      	<% } else { %>

      	<li><a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.profile.name %></a>
      		<ul class="dropdown-menu navbar-dark bg-dark">
      			<li><a href="/profile">Profile</a></li>
      			<li><a href="/logout">Logout</a></li>
      		</ul>
      	</li>

      	<% } %>

      </ul>
     
</nav>